@using DataTransferObject.Helpers;
@using DataTransferObject.Response
@model SessionUserDTO;
@{
    ViewData["Title"] = "Home Page";
    string role = Model.Role;
    var metrics = (Dictionary<string, int>)ViewBag.Metrics;
}

<div class="container">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>
                            Dashboard
                        </h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
@*                                     <a href="#0">Home</a>
 *@                                    <a asp-controller="default" asp-action="Index">Home</a>

                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Dashboard
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            @if(role == "LoanAdmin" || role == "ClaimAdmin")
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon success">
                            <i class="lni lni-users"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Active Users</h6>
                            <h3 class="text-bold mb-10"> @metrics["ActiveUsers"]</h3>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon red">
                            <i class="lni lni-users"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">InActive Users</h6>
                            <h3 class="text-bold mb-10">@metrics["InactiveUsers"]</h3>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>

            }
            else if (role == "Admin")
            {
                
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30" id="ViewLog">
                        <div class="icon red">
                            <i class="lni lni-list"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">System Logs</h6>
                            <h3 class="text-bold mb-10">View Log</h3>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30" id="AnalyticsDashBoard">
                        <div class="icon red">
                            <i class="lni lni-list"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Analytics DashBoard</h6>
                            <h3 class="text-bold mb-10">Analytics</h3>
                        </div>
                    </div>
                    <!-- End Icon Cart -->
                </div>
            }
            else
            {
                <!-- End Col -->
              @*   <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30">
                        <div class="icon orange">
                            <i class="lni lni-credit-cards"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Pending Appl</h6>
                            <h3 class="text-bold mb-10">@metrics["PendingApplications"]</h3>
                        </div>
                    </div>
                    <!-- End Icon Cart -->

                </div> *@
                <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="icon-card mb-30 position-relative">
                          <div class="icon orange">
                            <i class="lni lni-credit-cards"></i>
                          </div>
                          <div class="content">
                            <h6 class="mb-10">Pending Appl</h6>
                            <h3 class="text-bold mb-10">@metrics["PendingApplications"]</h3>
                          </div>

                          <!-- clickable overlay -->
                          <a class="stretched-link"
                             href="@Url.Action("UserApplicationList", "ApplicationRequest", new { status = 1 })"
                             aria-label="Open Pending Applications">
                          </a>
                        </div>
                </div>

                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30 position-relative">
                        <div class="icon success">
                            <i class="lni lni-checkmark-circle"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Approved Appl</h6>
                            <h3 class="text-bold mb-10">@metrics["ApprovedApplications"]</h3>
                        </div>
                          <a class="stretched-link" href="@Url.Action("UserApplicationList", "ApplicationRequest", new { status = 2 })"
                            aria-label="Open Pending Applications">
                        </a>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="icon-card mb-30 position-relative">
                        <div class="icon red">
                            <i class="lni lni-close"></i>
                        </div>
                        <div class="content">
                            <h6 class="mb-10">Rejected Appl</h6>
                            <h3 class="text-bold mb-10">@metrics["RejectedApplications"]</h3>
                        </div>
                        <a class="stretched-link" href="@Url.Action("UserApplicationList", "ApplicationRequest", new { status = 3 })"
                            aria-label="Open Pending Applications">
                        </a>
                    </div>
                    <!-- End Icon Cart -->
                </div>
                <!-- End Col -->
            }
            
        </div>
    </div>
</div>
