@using DataTransferObject.Request;
@model DTOuserProfile;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string Username = Model?.userName ??TempData["UserName"]?.ToString() ?? "";
}
<link href="~/css/getallusers.css" rel="stylesheet" />
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card shadow p-4 container-sm">
                    <div class="pagetitle text-center mb-4">
                        <h1>Sign Up</h1>
                    </div>
                    <form asp-action="Register" method="post" id="signupForm">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="userName">Username:</label>
                                    <input asp-for="userName" class="form-control" value="@Html.Encode(Username)" id="username" name="userName" readonly />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-space">
                                    <label asp-for="ArmyNo">Army No:</label>
                                    <input asp-for="ArmyNo" class="form-control" id="ArmyNo" name="ArmyNo" value="@Model.ArmyNo" required/>
                                    @Html.ValidationMessageFor(m => m.ArmyNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="rank">Rank:</label>
                                    <select class="form-select select" asp-for="rank" id="rank" name="rank" data-rank-prefix="@(Model?.rank)" required></select>
                                    @Html.ValidationMessageFor(m => m.rank, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-control-Alphabets">
                                    <label asp-for="Name">Name:</label>
                                    <input asp-for="Name" class="form-control" id="Name" name="Name" value="@Model?.Name" maxlength="15" required />
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email">Email:</label>
                                    <input type="email" asp-for="Email" class="form-email" id="Email" name="Email" value="@Model?.Email" maxlength="50" required />
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="MobileNo">Mobile No:</label>
                                    <input type="text" asp-for="MobileNo" class="form-control isNumerictxt " id="MobileNo" name="MobileNo" maxlength="10" value="@Model?.MobileNo" required />
                                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="regtCorps">Regt/Corps:</label>
                                    <select class="form-select select" asp-for="regtCorps" id="regtCorps" name="regtCorps" required data-regtcorps-prefix="@if (Model != null) {
                                                @Model.regtCorps;}"></select>
                                    @Html.ValidationMessageFor(m => m.regtCorps, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="UnitId">Unit Name:</label>
                                    <div>
                                        @Html.EditorFor(model => model.UnitId, new { htmlAttributes = new { @class = "form-control form-control-Alphabets d-none", @required = "required",  @dirName = "Unit's name" } })
                                        @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
                                        <span id="UnitId" class="d-none">@Model.UnitId</span>
                                        <input type="text" class="form-control" id="txtUnit" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ApptId">Appointment:</label>
                                    <select class="form-select select" asp-for="ApptId" id="ApptId" name="ApptId" required data-apptid-prefix="@if (Model != null) {
                                                @Model.ApptId;}"></select>
                                    @Html.ValidationMessageFor(m => m.ApptId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <input type="checkbox" asp-for="DteFmn" class="form-check-input" />
                                    <label for="DteFmn" class="form-label">I am posted at Fmn HQ/Dte</label>
                                </div>
                            </div>

                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <button type="button" id="btnTokenDetails" class="btn btn-primary w-50">
                                        Get Token Details
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex justify-content-center align-items-center">
                            <button type ="submit" class="btn btn-success d-none" id="btnsignup">Sign Up</button>
                        </div>
                        <div id="errormsg">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/devjs/Validation.js"></script>
<script src="~/devjs/register.js"></script>